<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">ThePythonBytes</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/about/">About</a></li>
      <li><a href="/contact/">Contact</a></li>
    </ul>
    <a href="#" data-target="slide-out" class="right sidenav-trigger show-on-med-and-down"><i class="material-icons">menu</i></a
  </div>
</nav>

<ul id="slide-out" class="sidenav">
  <li><a href="/about/">About</a></li>
  <li><a href="/contact/">Contact</a></li>
</ul>