<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">ThePythonBytes</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="sass.html">Newsletter</a></li>
      <li><a href="collapsible.html">Contact</a></li>
      <li><a href="badges.html">About</a></li>
    </ul>
    <a href="#" data-target="slide-out" class="right sidenav-trigger show-on-med-and-down"><i class="material-icons">menu</i></a
  </div>
</nav>

<ul id="slide-out" class="sidenav">
  <li><a href="#!">Newsletter</a></li>
  <li><a href="#!">Contact</a></li>
  <li><a href="#!">About</a></li>
</ul>